@font-face {
    font-family: 'horizon';
    src: url('fonts/Horizon.otf') format('opentype'), url('fonts/Horizon.woff2') format('woff');
}

@font-face {
    font-family: 'horizon outline';
    src: url('fonts/Horizon_Outlined.otf') format('opentype'), url('fonts/Horizon_Outlined.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');


$margin-menu: 40px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #f0ece3;
    --fg: #0d0d0d;
    --accent: #b57edc;
    --panel-w: 420px;
}

body{
    overflow-x: hidden;
}

.slide{
    min-height: 100vh;
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
}


#home h1{
    font-family: "horizon";
    position: relative;
    color: #000000;
}

#home{
    display: flex;
    flex-wrap: wrap;    
}

#home {
    position: relative;

}

#home h1{
    font-size: 110px;
}

#home p{
    font-family: 'syne', sans-serif;
    font-size: 16px;
    font-weight: 750;
    letter-spacing: -0.02rem;
}


.title{
    text-align: right;
    will-change: transform, opacity;
}

.title h1{
    will-change: transform;
}

.title p{
    margin-bottom: 20px;
}

.pex::after{
    content: "Pixels";
    font-family: "horizon outline";
    font-weight: 200;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}



.space.left-space{
    width: 10%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.space{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.left-space{
    left: 30px;
}

.right-space{
    right: 80px;
}

.space .cross{
    width: 50px;

}

.cross,
.bottom-cross,
.top-cross {
    z-index: 20;
    pointer-events: none;
    width: 50px;
}

    



#circles{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform, opacity;
}

.end{
    width: 40%;
    height: 100vh;
    background-image: url('../images/moi.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right bottom;
    will-change: transform, filter;
    transform-origin: center;
    backface-visibility: hidden;
}
.socials{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    will-change: transform, opacity;

}

.main-nav{
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'syne', sans-serif;
    font-weight: 800;
    letter-spacing: -0.02rem;
    z-index: 1000;
    font-size: 18px;

}

.main-nav ul.hide{
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}


.main-nav ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    transition: transform 0.3s ease;
    transition: 0.3s;
}
.main-nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    transition: opacity 0.3s;
}

.main-nav a:hover{
    opacity: 0.6;
}

.logo{
    font-family: 'syne', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
    text-decoration: none;
    color: var(--fg);
}

.logo img{
    width: 50px;
    height: auto;
}

.logo,
.bar{
    transition: 0.3s ease;
}

.main-nav.white .logo{
    color: #fff;
}

.main-nav.white .bar{
    background: #fff;
}

.hide-deco .cross,
.hide-deco .top-cross,
.hide-deco .bottom-cross,
.hide-deco #circles,
.hide-deco .points{
    opacity: 0;
    transition: 0.3s ease;
}
.moi img{
    width: 100%;
    height: auto;
}

.reveal-left{
    will-change: transform, opacity, filter;
}

.about{
    padding-top: 125px;
    text-align: center;
}

.introduction {
    max-width: 800px;
    margin: 0 auto 70px;
    line-height: 1.6;
    text-align: left;
    font-family: 'montserrat', sans-serif;}

.about-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 400px;
}

.about h5 {
    font-family: 'horizon', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.portrait {
    width: 140px;
    height: 140px;
    border-radius: 14px;
    box-shadow: 
    0 2px 4px rgba(0,0,0,0.04),
    0 10px 30px rgba(0,0,0,0.08),
    0 20px 40px rgba(0,0,0,0.04);
}

.right {
    text-align: left;
}

.year {
    margin-bottom: 25px;
    font-family: 'montserrat', sans-serif;
}

.year p:first-child {
    font-weight: 700;
    margin: 0;
}

/**NAV**/

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    z-index: 200;
    width: 100%;
}

#burger{
    width: 36px;
    height: 24px;
    cursor: pointer;
    position: relative;
    background:none;
    border: none;
    padding: 0;
}

.bar{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--fg);
    position: absolute;
    transition: all 0.4s;
}

.bar:nth-child(1){
    top: 0;
    width: 100%;
}

.bar:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

.bar:nth-child(3){
    top: 100%;
    transform: translateY(-100%);
    width: 45%;
}

#burger.open .bar:nth-child(1){
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    transform: translateY(-50%) rotate(45deg);
}

#burger.open .bar:nth-child(2){
    opacity: 0;
    transform: translateY(-50%) scaleX(0);
}

#burger.open .bar:nth-child(3){
    top: 50%;
    width: 100%;
    background-color: var(--accent);
    height: 4px;
    transform: translateY(-50%) rotate(-45deg);
}



/************** overlay ****************/
.overlay{
    position: fixed;
    inset: 0; /* pour top, left, right, bottom */
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    z-index: 99;
    transition: background-color 0.5s ease;
}

.overlay.open{
    background-color: rgba(0,0,0,0.55);
    pointer-events: all;
}




/************** Panel ****************/
.panel{
    position: fixed;
    top: 0;
    right: 0;
    width: var(--panel-w);
    max-width: 100vw;
    height: 100vh;
    background-color: var(--fg);
    color: var(--bg);
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem 3rem 3.5rem;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.7s ease;
    will-change: clip-path;
    overflow: hidden;
}

.panel.open{
    clip-path: inset(0 0 0 0%);
}

/*** strip *******/
.panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--accent);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.6s ease 0.3s;
}
.panel.open::before {
    transform: scaleY(1);
}

/*********** Nav Links ***********/

.main-nav.white .logo{
    color: #fff;
}

.main-nav.white .bar{
    background: #fff;
}

.nav-links{
    list-style: none;
    margin-bottom: 3rem;
}

.nav-links li{
    overflow: hidden;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.nav-links a{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    color: var(--bg);
    text-decoration: none;
    letter-spacing: -0.03em;
    line-height: 1.1;
    transform: translateY(110%);
    transition: transform 0.65s cubic-bezier(.77,0,.18,1), color 0.2s ease;
}

.nav-links a:hover{
    color: transparent;
    -webkit-text-stroke: 1.5px var(--bg);
}

.nav-links li:nth-child(1) a{
    transition-delay: 0.15s;
}

.nav-links li:nth-child(2) a{
    transition-delay: 0.22s;
}

.nav-links li:nth-child(3) a{
    transition-delay: 0.29s;
}

.nav-links li:nth-child(4) a{
    transition-delay: 0.36s;
}

.nav-links li:nth-child(5) a{
    transition-delay: 0.43s;
}

.panel.open .nav-links a{
    transform: translateY(0);
}

/******** Panel footer ******/
.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid rgba(255, 255, 255, 0.589);
    padding-top: 1.5rem;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.4s ease 0.55s, transform 0.4s ease 0.55s;
}

.panel.open .panel-footer {
    opacity: 1;
    transform: translateY(0);
}

.panel-footer .socials {
    display: flex;
    gap: 1.5rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
}

.panel-year {
    font-family: 'montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 100;
}
.panel-footer a {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.589);
    text-decoration: none;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: color 0.2s;
}
.panel-footer a:hover { color: var(--bg); }

.panel-number {
    font-family: 'Syne', sans-serif;
    font-size: 0.75rem;
    color: rgba(0,0,0,0.25);
    letter-spacing: 0.1em;
}


//TOOLS PAGE


.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.gallery img{
    max-width: 100%;
    height: 100px;
    object-fit: contain;
}

.tools-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.tools-title {
  font-size: 16px;
  margin-bottom: 40px;
  padding-top: 200px;
  font-family: 'horizon', sans-serif;
}

.tool-card{
    border-radius: 20px;
    border: 1px solid #00000067;
    max-width: 1100px;
    box-shadow:
    0 2px 4px rgba(0,0,0,0.04),
    0 10px 30px rgba(0,0,0,0.08),
    0 20px 40px rgba(0,0,0,0.04);
    border-radius: 20px;
    padding: 70px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: transform, opacity;
}

.gallery img {
    width: 100%;
    height: 70px;
    transition: 0.4s ease;
}

.gallery {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.card-img-top:hover {
    transform: translateY(-8px) scale(1.05);
}

.card-body{
    display: none;
}

.card-img-top{
    width: 250px;
}


#view {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  font-family: 'syne', sans-serif;
}

#view .view-more {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background: transparent;
  color: #444;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.3s ease;
}

#view .view-more:hover {
  background: #f5f5f5;
}

#view .view-more .arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}

#view .view-more:hover .arrow {
  transform: translateX(3px);
}

// CONTACT

#contact{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:120px 20px;
}

/* CONTAINER */

.contact-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

.contact-title{
    text-align:center;
    font-size: 16px;
    font-weight:800;
    margin-bottom:20px;
    color:#000;
    font-family:'horizon', sans-serif;
    text-transform:uppercase;
}

.contact-description{
    text-align:center;
    font-size:16px;
    margin-bottom:35px;
    font-family:'montserrat', sans-serif;
}


.contact-form{
    width:100%;
    justify-content: center;
}

.form-group{
    margin-bottom:25px;
}

.form-group input,
.form-group textarea{
    width:100%;
    padding:12px 20px;
    border:1px solid #00000067;
    box-shadow:
    0 2px 4px rgba(0,0,0,0.04),
    0 10px 30px rgba(0,0,0,0.08),
    0 20px 40px rgba(0,0,0,0.04);
  border-radius:12px;
    background:transparent;
    font-size:14px;
    font-weight:700;
    transition:0.3s ease;
    font-family:'montserrat', sans-serif;
    resize: none;
    overflow-y: auto;
}

.form-group input::placeholder,
.form-group textarea::placeholder{
    color:#777;
    text-transform:uppercase;
}

.form-group input:focus,
.form-group textarea:focus{
    border-color:#000;
}

.form-group textarea{
    height:320px;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
    -webkit-tap-highlight-color: transparent;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: "montserrat" sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;
     margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: block;
    margin: 40px auto 0;
}


.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}




.message-success{
    background:#d4edda;
    color:#155724;
    padding:20px;
    border-radius:15px;
    margin-bottom:30px;
    text-align:center;
    font-family:'montserrat', sans-serif;
}

.message-error{
    background:#f8d7da;
    color:#721c24;
    padding:20px;
    border-radius:15px;
    margin-bottom:30px;
    text-align:center;
    font-family:'montserrat', sans-serif;
}


//footer 

#footer{
    min-height:100vh;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 40px;
    overflow:hidden;
    width:100%;
    clear:both;
    margin-top: -2px;
}

.footer-content{
    width:100%;
    text-align: left;
    padding-left: 200px;
}

.footer-logo{
    font-size:150px;
    color:#fff;
    font-family:'syne', sans-serif;
    font-weight: 800;
    letter-spacing: -0.02rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    width: fit-content;
    animation: blink 0.8s infinite;
    padding-right: 33px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.footer-logo span{
    vertical-align:top;
    font-size: 50px;
    letter-spacing: -2rem;
}

.footer-title{
    font-size:180px;
    line-height:0.9;
    color:#EAEAEA;
    font-family:'montserrat', sans-serif;
    font-weight: 200;
}

.footer-subtitle{
    font-size:180px;
    line-height:0.9;
    color:#a0a0a0;
    font-family:'montserrat', sans-serif;
    font-weight: 200;
    margin-bottom:80px;
}

/* LINKS */

.footer-links{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    font-size:18px;
}

.footer-links a,
.footer-links span{
    color:#666;
    text-decoration:none;
    font-family:'montserrat', sans-serif;
    transition:0.3s ease;
}

.footer-links a:hover{
    color:#fff;
}


/* Responsive */

@media all and (max-width: 760px){

    #home h1{
        font-size: 100px;
    }
}


@media all and (max-width: 610px){

    #home h1{
        font-size: 15vw;
    }

    .main-nav ul{
        display: none;
    }
}
